:root {
  --acent-color: red;
  --main-color: rgb(0, 0, 0);
  --secondary-color: rgb(0, 0, 0);
  --text-color: rgb(255, 255, 255);
  --brand-color: var(--acent-color);

  // --acent-color: "#77767b";
  // --brand-color: "#77767b";
  // --main-color: "#241f31";
  // --secondary-color: "#3d3846";
  // --text-color: "#9a9996";
}

.pink-theme {
  --acent-color: rgb(255, 90, 252);
  --main-color: rgb(29, 8, 26);
}
.green-theme {
  --acent-color: rgb(89, 255, 64);
  --main-color: rgb(6, 27, 12);
}
.blue-theme {
  --acent-color: rgb(64, 115, 255);
  --main-color: rgb(7, 18, 33);
}
.red-theme {
  --acent-color: red;
  --main-color: rgb(23, 0, 0);
}
.amoled-pink-theme {
  --acent-color: rgb(255, 90, 252);
  --main-color: rgb(0, 0, 0);
}
.amoled-green-theme {
  --acent-color: rgb(89, 255, 64);
  --main-color: rgb(0, 0, 0);
}
.amoled-blue-theme {
  --acent-color: rgb(64, 115, 255);
  --main-color: rgb(0, 0, 0);
}
.amoled-red-theme {
  --acent-color: red;
  --main-color: rgb(0, 0, 0);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  color: var(--text-color);
  background-color: var(--main-color);
  height: 100%;
}
a,
button,
li {
  background-color: var(--acent-color);
  outline: none;
  border: none;
  padding: 10px 15px;
  list-style: none;
  text-decoration: none;
}
input {
  &:focus {
    outline: none;
  }
}

.reg-id {
  font-size: 22px;
  padding: 5px;
  color: var(--acent-color);
}
.update-btn {
  color: red;
  background-color: rgb(49, 1, 1);
  padding: 5px 12px;
  border: 1px solid rgb(225, 13, 13);
  border-radius: 5px;
}
#overlay {
  background-color: rgba(0, 0, 0, 0.895);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: none;
}

@mixin box {
  background-color: var(--secondary-color);
  position: fixed;
  width: 100%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 5px 8px rgba(79, 79, 79, 0.54);
  border-top: 2px solid var(--acent-color);
  border-radius: 30px;
  z-index: 999;
  padding: 50px 30px 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 600px;

  button {
    background-color: var(--acent-color);
    font-size: 22px;
    padding: 10px 20px;
    width: fit-content;
    align-self: end;
    color: black;
    border-radius: 8px;
  }
  .close-btn {
    position: absolute;
    right: 35px;
    color: var(--acent-color);
  }
  .wrong-pass {
    color: red;
  }
  .secondary {
    align-self: start;
    background-color: grey;
  }
  .buttons {
    display: flex;
    justify-content: space-between;
  }
}
input {
  border: 0px;
  outline: none;
  padding: 10px 8px;
  font-size: 22px;
  color: white;
  background-color: rgb(32, 33, 33);
  border-radius: 8px;
  &:focus {
    outline: none;
  }
}
.update-box {
  @include box;
  .close-btn {
    top: 25px;
  }
  input {
    border: 0px;
    outline: none;
    padding: 10px 8px;
    font-size: 22px;
    background-color: rgb(32, 33, 33);
    &:focus {
      outline: none;
    }
  }

  .icon-box {
    color: grey;
    left: 30px;
    bottom: 25px;
    position: absolute;
    .close-btn {
      color: rgb(69, 69, 69);
      font-size: 20px;
    }
  }
}
.data {
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 8px;
  max-width: 700px;
  margin: 20px auto;

  .data-head {
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: var(--acent-color);
    margin-bottom: 10px;
    padding: 3px 5px;
    border-radius: 4px;

    .cell {
      width: 80px;
      text-align: center;
      font-weight: 600;
      color: black;

      &:first-child {
        flex-grow: 1;
      }
    }
  }
  .data-body {
    .row {
      display: flex;
      align-items: center;
      margin-bottom: 2px;
      padding: 2px 3px 5px 3px;
      border-bottom: 1px solid rgba(128, 128, 128, 0.493);

      .cell {
        width: 80px;
        text-align: center;

        &:first-child {
          flex-grow: 1;
          text-align: left;
        }
      }
      .failed {
        color: rgb(255, 76, 76);
        font-weight: 600;
      }
      .good-marks {
        color: rgb(145, 255, 145);
      }
    }
  }
}

nav {
  height: 60px;
  background-color: var(--secondary-color);
  border-bottom: 2px solid var(--acent-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  margin-bottom: 40px;
  position: sticky;
  top: 0;
  .left-bar {
    display: flex;
    align-items: center;
    gap: 15px;
    color: var(--menu-color);
    h1 {
      font-size: 32px;
      color: var(--brand-color);
    }
  }
  input {
    height: 30px;
    width: 150px;
    font-size: 18px;
    background-color: rgb(34, 34, 34);
    padding-left: 15px;
    color: var(--acent-color);
    border-radius: 5px;
    border: none;
    &:focus {
      outline: none;
    }
  }
  .invalid-sym {
    color: red;
    margin-right: 5px;
  }
  .invalid-reg-id {
    border: 1px solid red;
    color: red;
  }
  .menu-icon {
    color: var(--acent-color);
  }
}

@mixin head-mssg {
  color: inherit;
  font-size: 20px;
  padding: 6px;
  border-bottom: 1px solid;
  border-bottom-color: inherit;
  margin-bottom: 10px;
}
@mixin mssg-box($bg, $fg) {
  padding: 15px;
  max-width: 600px;
  border-radius: 12px;
  margin-bottom: 15px;
  background-color: $bg;
  color: $fg;
  font-size: 15px;
  border: 1px solid $fg;
  margin: 0 25px 15px 25px;
}
div .info-head,
.error-head,
.warn-head,
.info-head {
  @include head-mssg;
}
.warn-mssg {
  @include mssg-box(#272117, orange);
}
.error-mssg {
  @include mssg-box(#291a1a, red);
}
.info-mssg {
  @include mssg-box(#262c32, var(--acent-color));
}
.correct-mssg {
  @include mssg-box(#0b5604, #00ff00);
}

.start-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side-pannel {
  background-color: var(--secondary-color);
  position: fixed;
  top: 60px;
  height: 100vh;
  width: 265px;
  padding: 20px 20px 20px 30px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--acent-color);
  z-index: 10;
  a,
  button {
    border: none;
    font-size: 20px;
    background-color: inherit;
    color: var(--text-color);

    text-align: left;
    padding: 10px;
    border-bottom: 1px solid grey;
    text-decoration: none;
  }
}

.lock-box {
  @include box;
  label {
    color: white;
    font-size: 20px;
  }
}
.update-password {
  @include box;
  label {
    color: white;
    font-size: 20px;
  }
}
.unlock-box {
  @include box;

  label {
    color: white;
    font-size: 20px;
  }
  .close-btn {
    position: absolute;
    right: 35px;
  }
}
.update-photo {
  @include box;
}
@media (max-width: 600px) {
  @mixin box-m {
    top: 0px;
    transform: translateX(-50%);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 0;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom: 1px solid var(--acent-color);
    width: 100%;
  }
  .update-box {
    @include box-m;
  }
  .lock-box {
    @include box-m;
  }
  .unlock-box {
    @include box-m;
  }
  .update-password {
    @include box-m;
  }
  .update-photo {
    @include box-m;
  }
}

@media (max-width: 430px) {
  .data {
    .data-head {
      gap: 0;
      .cell {
        width: 48px;
        font-size: 12px;
        overflow-x: hidden;
        &:first-child {
          font-size: 16px;
        }
      }
    }
    .data-body {
      .row {
        gap: 0;
        .cell {
          width: 45px;
        }
      }
    }
  }
}
.img-box {
  display: flex;
  justify-content: center;
  width: fit-content;
  margin: 0 auto;
  border-radius: 10px;
  border: 0;
  outline: none;
  margin-top: 0px;
  background-color: var(--main-color);

  .profile-photo {
    background-color: var(--main-color);
  }
  .img-border {
    border: 10px solid var(--acent-color);
    border-radius: 50%;

    img {
      width: 220px;
    }
  }

  .profile-photo {
    width: 280px;
    height: 320px;
    // border-radius: 50%;
    object-fit: cover;
    margin: 0px auto;
  }
}
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.color-box {
  width: 50px;
  height: 50px;
}
.color-themes {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
  width: 250px;
  margin: 30px auto;
  .green-color {
    background-color: green;
  }
  .red-color {
    background-color: red;
  }
  .blue-color {
    background-color: blue;
  }
  .pink-color {
    background-color: pink;
  }
}
.theme-page {
  button {
    background-color: grey;
    padding: 8px 18px;
    font-size: 20px;
    margin-left: 20px;
    background-color: var(--acent-color);
    color: black;

    border-radius: 3px;
    border: none;
  }
}
.dark-themes {
  .green-color {
    background-color: rgb(4, 51, 4);
  }
  .red-color {
    background-color: rgb(69, 8, 8);
  }
  .blue-color {
    background-color: rgb(10, 55, 87);
  }
  .pink-color {
    background-color: rgb(81, 9, 52);
  }
}
.custom-theme-maker {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .field {
    display: flex;
    margin-bottom: 5px;
    p {
      width: 200px;
    }
    input[type="text"] {
      width: 200px;
      height: 30px;
    }
    input[type="color"] {
      width: 150px;
      height: 30px;
    }
  }
  button {
    padding: 8px 15px;
    background-color: var(--acent-color);
    outline: none;
    border-radius: 8px;
    border: none;
    margin-bottom: 30px;
    margin-top: 15px;
  }
}
.download-box {
  display: flex;
  justify-content: end;
}
#download {
  font-size: 25px;
  color: var(--acent-color);
  position: fixed;
  top: 100px;
  left: 40px;

  .icon {
    color: red;
  }
}

.custom-theme-wrapper {
  .custom-themes {
    display: grid;
    grid-template-columns: repeat(auto-fill, 62px);
    column-gap: 15px;
    row-gap: 8px;
    justify-content: center;
    .theme-layout {
      border: 1px solid rgb(39, 39, 39);
      .theme-layout-head {
        height: 25px;
        width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;

        .title {
          font-size: 10px;
        }
      }
      .theme-layout-body {
        width: 60px;
        height: 40px;
      }
    }
  }
}
